{% extends 'base_transport.html.twig' %}

{% block title %}TransClientVoyageCarb index{% endblock %}

{% block body %}
    <h1>Liste client Voyage/Carburant</h1>
    <a href="{{ path('trans_client_voyage_carb_new') }}" class="btn-primary btn-sm">Ajouter</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Rang</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trans_client_voyage_carb in trans_client_voyage_carbs %}
            <tr>
                <td>{{ trans_client_voyage_carb.id }}</td>
                <td>{{ trans_client_voyage_carb.nom }}</td>
                <td>{{ trans_client_voyage_carb.rang }}</td>
                <td>
                    <a href="{{ path('trans_client_voyage_carb_show', {'id': trans_client_voyage_carb.id}) }}" class="btn btn-xs btn-info">Ouvrir</a>
                    <a href="{{ path('trans_client_voyage_carb_edit', {'id': trans_client_voyage_carb.id}) }}" class="btn btn-xs btn-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
