<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AIO-logistics-{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800,900,1000&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.4/css/responsive.bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/preload.css') }}">
        {# print.js css #}
        <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="preloader">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
        {# get current path #}
        {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
                       
        <div class="container-base">
            <div class="navigation-menu active">
                <div class="head-menu">
                    <a href="{{ path('transport_home') }}" class="menu-item-content">
                        <span class="title">AIO-LOGISTICS</span>
                        <span class="title active">AIO</span>
                    </a>
                </div>
                <ul>
                    <li 
                        {% if currentPath=="/profile/transport/home" %}
                            class="hovered"
                        {% endif %}
                    >
                        <a title="Statistique" href="{{ path('transport_home') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="stats-chart-outline"></ion-icon>
                            </span>
                            <span class="title">Statistique</span>
                        </a>
                    </li>
                    <li
                        {% if currentPath=="/profile/carburant/" %}
                            class="hovered"
                        {% endif %}
                    >
                        <a title="Carburant" href="{{ path('transport_carburant') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="water-outline"></ion-icon>
                            </span>
                            <span class="title">Carburant</span>
                        </a>
                    </li>

                    <li
                        {% if currentPath=="/profile/voyage/" %}
                            class="hovered"
                        {% endif %}
                    >
                        <a title="Voyage" href="{{ path('transport_voyage') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="bus-outline"></ion-icon>
                            </span>
                            <span class="title">Voyage</span>
                        </a>
                    </li>

                    <li
                        {% if currentPath=="/profile/pneus/" %}
                            class="hovered"
                        {% endif %}
                    >
                        <a title="Pneu" href="{{ path('transport_pneus') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="aperture-outline"></ion-icon>
                            </span>
                            <span class="title">Pneus</span>
                        </a>
                    </li>

                    <li
                        {% if (currentPath=="/profile/garage/stock") or (currentPath=="/profile/garage/entree") or (currentPath=="/profile/garage/sortie") %}
                            class="hovered"
                        {% endif %}
                     class="li-drop-container">
                        <a title="Pneu" href="{{ path('transport_garage_sortie_piece') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="construct-outline"></ion-icon>
                            </span>
                            <span class="title">Maintenances/Pièces</span>
                        </a>
                    </li>
                    <li
                        {% if currentPath=="/profile/vehicule/" %}
                            class="hovered"
                        {% endif %}
                    >
                        <a title="Véhicules" href="{{ path('transport_vehicule') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="car-outline"></ion-icon>
                            </span>
                            <span class="title">Véhicules</span>
                        </a>
                    </li>
                    <li
                        {% if currentPath=="/profile/chauffeur/" %}
                            class="hovered"
                        {% endif %}
                    >
                        <a title="Chauffeurs" href="{{ path('transport_chauffeur') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="title">Chauffeurs</span>
                        </a>
                    </li>
                    <li
                        {% if currentPath=="/profile/parametre/" %}
                            class="hovered"
                        {% endif %}
                    >
                        <a title="Paramètres" href="{{ path('transport_parametre') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="settings-outline"></ion-icon>
                            </span>
                            <span class="title">Paramètres</span>
                        </a>
                    </li>
                    <li>
                        <a title="Déconnexion" href="{{ path('app_logout') }}" class="menu-item-content">
                            <span class="icon">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </span>
                            <span class="title">Se déconnecter</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <!-- ========================= Main ==================== -->
            <div class="main active">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu-outline"></ion-icon>
                    </div>
                </div>
                <div id="body-transport">
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{{asset('jquery/jquery.min.js')}}"></script>
        {# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.js"></script>
        <script src="https://kit.fontawesome.com/628f52a878.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            /* pour l'annimation de loader */
            var title = document.querySelector("title");
            title.innerHTML = title.innerHTML.toUpperCase();
            /* fin loader */
            // add hovered class to selected list item
            let list = document.querySelectorAll(".navigation-menu li");

            function activeLink() {
                list.forEach((item) => {
                    item.classList.remove("hovered");
                });
                this.classList.add("hovered");
                $('li .menu-item-content-dropable p a').css('color', 'white')
                $('li .menu-item-content-dropable p a').css('border-bottom', '1px solid white')
                $('.hovered .menu-item-content-dropable p a').css('color', '#2a2185')
                $('.hovered .menu-item-content-dropable p a').css('border-bottom', '1px solid #2a2185')
                
            }

            list.forEach((item) => item.addEventListener("mouseover", activeLink));

            // Menu Toggle
            let toggle = document.querySelector(".toggle");
            let navigation = document.querySelector(".navigation-menu");
            let main = document.querySelector(".main");

            toggle.onclick = function () {
                navigation.classList.toggle("active");
                main.classList.toggle("active");
            };

        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.4/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.4/js/responsive.bootstrap.min.js"></script>
        <script src='{{ asset('js/currency.js') }}'></script>
        <script src='{{ asset('js/moment.min.js') }}'></script>
        {# print.js  doc : https://printjs.crabbly.com/ #}
        <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
        {# <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>  #}
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            // anim header
            $(document).ready(function(){
                setTimeout(() => {
					$('body').addClass('loaded')
				}, 2000)
                var isMenuOpen = false;
                $('.toggle-nav button').click(function(){
                    //alert('test')
                    // deplace nav
                    if(isMenuOpen){
                        $('#nav').removeClass('trans_navigation');
                        $('#nav').addClass('trans_navigation-hide');
                        $('#body-transport').removeClass('body-transport')
                        $('#body-transport').addClass('body-transport-hide')
                        $(this).removeClass('open')
                        $(this).addClass('hide')
                        isMenuOpen = !isMenuOpen;
                    }
                    else{
                        $('#body-transport').removeClass('body-transport-hide')
                        $('#body-transport').addClass('body-transport')
                        $('#nav').removeClass('trans_navigation-hide');
                        $('#nav').addClass('trans_navigation');
                        $(this).removeClass('hide')
                        $(this).addClass('open')
                        isMenuOpen = !isMenuOpen;
                    }
                    
                })
            })
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>